.searchfilter {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 48rem;
    height : 437px;
    display:grid;
    justify-content:space-between;
}

.duration {
    position:relative;
    display: flex;
    justify-content: space-evenly;
}
