body {
    background-image:url('splash1.jpg');
    background-size: cover;
    width: 100%;
    opacity: 0.9;
}
    
    .search-bar{
        margin:25px;
        display:flow-box;
        justify-content: space-between;
    }

    .form-search {
        background-color: aliceblue;
        border-radius:1ex;
    }
    .search-location {
        position:relative;
        top: 200px;
        left: 8%;
        width: 30em;
    }
    
    .search-from {
        position:relative;
        top: 145px;
        left: 45%;
        width: 13em;
    }
    
    .search-to {
        position:relative;
        top: 90px;
        left:61%;
        width: 13em;
    }
    
    .searchHotel .button-search{
        position:relative;
        top: 35px;
        left: 77%;
        background-color: #044831;
        height: 3.5em;
        width: 10em;    
    }

    .header{
        color: aliceblue !important;
        text-decoration: none;
        font-size: large;
    }





