.hotellist {
    position: relative;
    top: 120px;
    margin: 25px;
    width: 77%;
    height: 165px;
    left: 8%;
    border-color: aliceblue;
    border-width: 2em;
    box-sizing: border-box;
}

.hotellocation {
    position: relative;
    top:15px;
    font-size:large;
    font-weight: 400;
    font-style: oblique;

}

.select-hotel {
    position: relative;
    bottom:18px;
    left: 10%;
    height: 3.25em;
    width: 7em;         
}

.description {
    position: relative;
    display: flex;
    left: 30%;
    bottom:50%;
}

.selects {
    position: relative;
    display: flex;
    left: 18%;
    bottom:60%;
}

.hoteltitle{
    position: relative;
    display: flex;
    left:12%;
    bottom: 50%

}

.hoteladd{
    position: relative;
    display: flex;
    bottom: 50%;
    right:55%
}


